/*
===============================================HTML5  ===============================================
*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block}.bypostauthor,.gallery-caption,.sticky{background:0 0}[hidden],audio:not([controls]){display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}button,html,input,select,textarea{font-family:sans-serif;color:#222}body{margin:0;font-size:1em;line-height:1.4}a:focus{outline:dotted thin}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:700}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:after,q:before{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ol,ul{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ol,nav ul{list-style:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure,form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}button[disabled],input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr}.ir br{display:none}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:after,.clearfix:before{content:"";display:table}.clearfix:after{clear:both}.lt-ie8 .clearfix{visibility:hidden;width:0;height:0;clear:both}
/* --------------------FONT FAMILIES -------------------- */

body, .sf-menu li li a   {
	font-family: 'Lato', sans-serif;
}

#slider-mobile-text, a.more-link, ul.page-numbers, .sticky-post-pro, .gallery-caption, .slider-float-text, .caption-pro,
body .ls-sc-tabs ul.ui-tabs-nav li a, .wpcf7 input, .wpcf7 textarea, #respond textarea, #respond input,
body #main .width-container #respond input#submit, body a.ls-sc-button.secondary,
.progression-button-secondary, body a.progression-button, body input.wpcf7-submit, body input#submit, body a.ls-sc-button.default,
h1, h2, h3, h4, h5, h6, nav, footer, #page-title { 
	font-family: 'Oswald', sans-serif;
}
/* --------------------DEFAULT STYLES -------------------- */
body {
	font-size:16px;
	line-height: 1.5;
}
body iframe {border:none; }
.pp_gallery {display:none !important;}
body a img, body a {outline:none !important; text-decoration:none;}
p {padding-top:0px; margin:0px;}
p, ul, ol {margin-bottom: 30px;}
#sidebar ul, #sidebar ol {margin-bottom:15px;}
ul, ol {margin-left:0px; padding-left:16px;}
img {max-width: 100%;height: auto;  width:auto;}
video, audio {max-width:100%;}
.alignnone, .alignleft, .alignright, .aligncenter {max-width:100% !important;}
h1, h2, h3, h4, h5, h6 { font-weight:400; margin:0px 0px 20px 0px; padding:0px; line-height:1.2; -ms-word-wrap: break-word; word-wrap: break-word; }
h1, #page-title h1 {font-size:30px; line-height:1; margin-bottom:35px;}
h2 {font-size:26px; margin-bottom:30px; }
h3 {font-size:21px; }
h4  {font-size:19px; }
h5  {font-size:17px; line-height:1.4;  }
h6 {font-size:15px; line-height:1.4; }
dl { margin-bottom: 1.6em; }
dt { font-weight: bold; }
dd { margin-bottom: 1.6em; }
table, th, td { border: 1px solid #eaeaea; border: 1px solid rgba(51, 51, 51, 0.1); }
th { background:#f7f7f7; }
table { border-collapse: separate; border-spacing: 0; border-width: 1px 0 0 1px; margin: 0 0 2em; width: 100%; }
caption, th, td { font-weight: normal; text-align: left; }
th { border-width: 0 1px 1px 0; font-weight: 700; }
td { border-width: 0 1px 1px 0; }
th, td { padding: 1em; }
figure { margin: 0; }
del { opacity: 0.8; }
.alignright {float:right; margin:0 0 10px 20px;}
.alignleft {float:left; margin:0px 20px 10px 0px;}
.aligncenter {text-align:center;  margin:0px auto 20px auto; display:block; }
blockquote {margin-left:0px; border-left:4px solid #cccccc; padding-left:30px; font-style:italic; line-height:2; color:#333333;}
pre {border:1px solid #eeeeee;  padding:15px; background:#fafafa; overflow:auto; word-wrap: break-word; font-size:14px; line-height:1.2; margin-bottom:25px;}
code {display:block; border:1px solid #eeeeee;  padding:15px; background:#fafafa; overflow:auto; word-wrap: break-word; font-size:14px; line-height:1.2; margin-bottom:25px;}
p.wp-caption-text {display:block; padding:2px 0px 0px 2px; margin-top:5px; margin-bottom:10px; font-style:italic; font-size:90%; padding-left:2px;}
body hr.ls-sc-divider {padding:0px 0px 35px 0px; position:relative; top:12px;}
body #main hr.grey, body .footer-map-home hr.grey{ border-color:#cccccc; }
.widget #map-embed-pro .google-maps-expand iframe {width: 100%; height: 490px; margin-bottom: -6px;}


#main ul li:before, .homepage-widgets-pro ul li:before  {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f10c";
	font-size:6px;
	position:relative;
	bottom:3px;
	margin-left:3px;
	margin-right:8px;
}

#main ul,  .homepage-widgets-pro ul {
	list-style:none;
	margin:0px;
	padding:0px 0px 10px 0px;
}
#main ul ul,  .homepage-widgets-pro ul ul {
	padding-top:4px;
	padding-bottom:0px;
	margin-left:15px;
}

#main ul li,  .homepage-widgets-pro ul li {
	margin:0px 0px 5px 0px;
	padding:0px 0px 5px 0px;
}


#main .ui-tabs  ul li:before, #main .flexslider ul li:before, #main ul.page-numbers li:before {display:none;}
#main .flexslider ul li:before, #main .flexslider ul, #main .flexslider ul li {margin:0px; padding:0px; }
#main .ui-tabs  ul { padding-bottom:0px; }

/* --------------------HEADER STYLES -------------------- */
header {
	overflow:hidden;
	margin:8px 8px 0px 8px; padding:0px; position:relative; z-index:50; 
	min-height:300px;
}
.slider-float-text{top:126px;}
header #logo, #text-logo-progression {margin-top:58px; margin-bottom:58px;}
nav{margin-top:30px; margin-bottom:30px;}
header .width-container { position:relative; }
nav { float:right; position:relative; z-index:15; }
header h1 { float:left; margin:0px; padding:0px; line-height:1; font-size:5px;}
header #logo { border:none; }
header #logo img { height: auto; opacity:1 !important; filter:alpha(opacity=100);}
header #logo a:hover img { opacity:1 !important; filter:alpha(opacity=100);}
#text-logo-progression { float:left; margin:0px; padding:0px; line-height:1; }
#text-logo-progression a { color:#ffffff; font-size:18px; }

#header-gradient-pro {
	position:absolute;
	top:0px;
	width:100%;
	z-index:25;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

 /* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block; width:100%; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */

.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default 
*********************************/
.flexslider {margin:0px auto; position: relative; zoom: 1; /*  overflow:hidden; */ }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	z-index:46;   
	width: 24px; 
	height: 49px; 
	margin: -25px 0px 0px 0px; 
	position: absolute;
	top:50%;
	display: block; background-image: url(upload/fashion/slider/arrows.png); background-repeat: no-repeat; background-position: bottom left;  cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;  -moz-transition: all .3s ease; transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: bottom right; right:24px; }
.flex-direction-nav .flex-prev {background-position: bottom left;  left:24px;}
.flex-direction-nav .flex-disabled, #carousel-pro .flex-direction-nav .flex-disabled {display:none; opacity: 0!important; filter:alpha(opacity=0); cursor: default;}
#main .flex-direction-nav .flex-next { right: 0px; }
#main .flex-direction-nav .flex-prev {left: 0px;}

/* Control Nav */
.flex-control-nav { z-index:5; width: 100%; position: absolute; bottom: 20px; text-align: center; }
.flex-control-nav li {margin: 0 2px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 16px; height: 16px; display: block; background: url(upload/fashion/slider/slider-bullets.png) 0px -25px no-repeat;  cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover { background-position:0px -48px; }
.flex-control-paging li a.flex-active {  background-position:0px -2px; cursor: default; }
body #main .flex-control-paging li a { -webkit-transition: none; -moz-transition: none; none; -o-transition: none; }


.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.lt-ie9 .flex-direction-nav .flex-prev {opacity: 1; left: 15px;}
.lt-ie9 .flex-direction-nav .flex-next {opacity: 1; right: 15px;}


@media screen and (max-width: 940px) {
  .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {display:none;}
  #carousel-pro .flex-direction-nav .flex-prev, #carousel-pro .flex-direction-nav .flex-next {display:block;}
}

/* Carousel Code */
#carousel-container {
	position:absolute;
	bottom:0px;
	z-index:10;
	width:100%;
}

body #carousel-pro {
	padding:6px 6px 0px 3px;
	margin-top:0px; margin-bottom:0px;
	 background:#ffffff;
}
#carousel-pro li {
	margin:0px 3px;
	padding:0px;
	background:#000;
}

#carousel-pro li img {
	width:100%;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 1; 
	background:#000;
}
#carousel-pro li img:hover { 
	opacity: 0.75; 
	cursor: pointer; 
}	
#carousel-pro .flex-active-slide img, #carousel-pro .flex-active-slide img:hover {
	opacity: 0.5 !important; 
	cursor: default;
}
#carousel-pro li img { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

body #main .featured-blog-progression .flex-direction-nav a {background-color:#161616;}
body #main .featured-blog-progression .flex-direction-nav a:hover {background-color:#161616;}
body #main .featured-blog-progression .flex-direction-nav a {z-index:46;  width: 36px; height: 60px; margin: -30px 0 0 0; display: block; background-image: url(upload/fashion/slider/arrows-old.png); background-repeat: no-repeat; background-position: bottom left; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0.75; -webkit-transition: all .3s ease;  -moz-transition: all .3s ease; transition: all .3s ease;}
body #main .featured-blog-progression .flex-direction-nav .flex-next {background-position: bottom right; right: 0px; }
body #main .featured-blog-progression .flex-direction-nav .flex-prev {background-position: bottom left;  left: 0px;}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	body #main .featured-blog-progression .flex-direction-nav a {background-image:url(upload/fashion/slider/arrows-old@2x.png); background-size:80px 60px; }
}


#uncrop-image-pro {text-align:center;}
#uncrop-image-pro img {
	width:auto;
	max-height:800px;
	margin:0 auto;
}

/* Carousel Direction Nav */
.lt-ie9 #carousel-pro .flex-direction-nav a, #carousel-pro .flex-direction-nav a {
	width: 26px; height: 45px;
	margin: -22px 0 0; 
	background: url(upload/fashion/slider/arrows-old.png) no-repeat bottom left;
	background-size:60px 45px;
	background-color:#000000;
}
/*
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#carousel-pro .flex-direction-nav a {background-image:url(images/slider/arrows@2x.png); background-size:48px 49px; }
}*/


#carousel-pro .flex-direction-nav .flex-next {background-position: top right; right: 6px; }
#carousel-pro .flex-direction-nav .flex-prev {background-position: top left;  left: 6px; }


/* Slider Address */
#slider-mobile-text { display:none;  text-align:center; }
.slider-float-text {
	position:absolute;
	left:0px;
	z-index:15;
}

#pro-page-header .slider-float-text {
	position:static;
	float:right;
	padding-bottom:30px;
}
#slider-mobile-text .slider-address-container {
	-moz-box-shadow: none;
	-webkit-box-shadow:  none;
	box-shadow: none;
}

.slider-address-container {
	background:#ffffff;
	padding:35px 30px 23px 30px;
	font-weight:300;
	font-size:20px;
	line-height:1.2;
	color:#444444;
	text-transform:uppercase;
	min-width:240px;
	margin-top:20px;
	margin-bottom:20px;
	
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0, 0.15);
	-webkit-box-shadow:  1px 1px 6px rgba(0,0,0, 0.15);
	box-shadow:  1px 1px 6px rgba(0,0,0, 0.15);
}

.slider-address-pro, .slider-bedroom-pro, .slider-additional-pro {
	margin-bottom:12px;
	opacity:0.7;
}

.slider-price-pro {
	font-size:27px;
	font-weight:400;
	opacity:1;
	color:#232323;
	margin-top:5px;
	margin-bottom:15px;
}
.slider-bedroom-pro, .slider-additional-pro {
	font-size:16px;
}

header a.slider-button-pro { 
	margin-right:0px; 
	padding:22px 30px; 
	min-width:240px; 
	text-align:center; 
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0, 0.15);
	-webkit-box-shadow:  1px 1px 6px rgba(0,0,0, 0.15);
	box-shadow:  1px 1px 6px rgba(0,0,0, 0.15);
}

